
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<label>Adınız</label>
<input type="text" class="form-control" />
<br />
<label>Soyadınız</label>
<input type="text" class="form-control" />
<br />
<label>Telefon Numarası</label>
<input type="number" class="form-control" />
<br />
<label>Şehir Seciniz</label>
<input type="number" class="form-control" />
<br />
<button class="btn btn-danger">Kişiyi ekle</button>