
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2 class="container">Kullanıcı Listesi</h2>
<br />
<table class="table table-bordered" >
    <tr>
        <th>Ad</th>
        <th>SoyAd</th>
        <th>Sehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    <tr>
        <td>Ahmet</td>
        <td>Ali</td>
        <td>İstanbul</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
</table>

