
@{
    Layout = null;
}



<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Stok</th>
            <th> Categories</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Bilgisayar</td>
            <td>20</td>
            <td>Elektronik</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mause</td>
            <td>200</td>
            <td>Elektronik</td>
        </tr>
    </table>
    <a href="#" class="btn btn-danger" >Yeni ürün grişi</a>

</div>