
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <label>NAME</label>
    <input type="text" class="form-control" />
    <br />
    <label>Stok</label>
    <input type="text" class="form-control" />
    <br />
    <label>Categories</label>
    <input type="text" class="form-control" />
    <br />
    <label>Açıklaması</label>
 <textarea class="form-control"rows="5"></textarea>
    <br />
    <button class="btn btn-danger">Ekle</button>
</div>

