
@{
    Layout = null;
}

<h1>Merhaba</h1>
<h2>Merhaba</h2>
<h5>Merhaba</h5>
<br />

<div style="background-color:bisque">Merhaba dünya</div>
<br />
<a href="http://www.google.com">Google git</a>
<br />
<br />
<a href="">İkinci sayfaya  git</a>